<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>마이 페이지: 회원 관리</title>
  <link rel="stylesheet" href="/style/memberManage.css">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans KR&display=swap" rel="stylesheet">

</head>

<body>
  <header>
    <div class="header-container">
      <div class="headerLogo">
        <a href="main.html">
          <img src="/img/logo.png" href="#" alt="headerLogo" width="207" height="47">
        </a>
      </div>
      <nav class="menu">
        <ul>
          <li><a href="#">구인글 게시판</a></li>
          <li><a href="#">포트폴리오</a></li>
          <li><a href="#">고객센터</a></li>
        </ul>
      </nav>
      <div class="account">
        <a>##님 환영합니다.</a>
        <a href="#">마이 페이지</a>
        <a href="#">로그아웃</a>
      </div>
    </div>
  </header>

  <main>
    <nav class="sideBar">
      <ul>
        <div class=menuPart>
          <h2>마이 페이지</h2>
          <li><a href="#">내 기본정보</a></li>
          <li class="active"><a href="#">회원 관리</a></li>
        </div>
    </nav>

    <div class="main">
      <h3 class="right_info">회원 관리</h3>
      <div class="root">
        <select name="job">
          <option value="id">아이디</option>
          <option value="nickname">닉네임</option>
        </select>
        <div class="search">
          <input type="text" placeholder="검색어 입력">
        </div>
        <button class="btn">검색</button>
      </div>
      <hr />
      <div id="board">
        <div class="post">
          <span>아이디</span>
          <span>회원 구분</span>
          <span>이름</span>
          <span>닉네임</span>
          <span>가입일</span>
        </div>
        <!-- 게시물 추가 -->
      </div>
    </div>
  </main>

  <footer>
    <div class="footerContainer">
      <div class="footerLogo">
        <img src="/img/logo_white.png" alt="footerLogo">
      </div>
      <div class="footerInfo">
        <p>Team_i | 팀장 : 배준영 | 팀원 : 김겸손 김경현 김희수 손주현 양서림 장준원 <br />
          멀티캠퍼스 백엔드 개발자 취업캠프(Java) 7회차 프로젝트 1조 | github : https://github.com/Dinocabbage/team_i-project</p>
      </div>
    </div>
  </footer>
</body>

</html>